<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>作用域插槽</title>
    <style>
        .current {
            color: brown;
        }
    </style>
</head>

<body>
    <div id="app">
        <fruit-list v-bind:list="list">
            <!-- 获取到子组件中的数据  借助slot-scope这个属性 -->
            <!-- slot-scope的属性值是在子组件的模板中绑定的 如：绑定的info中的item（:info='item'）-->
            <template slot-scope="slotProps">
              <strong v-if="slotProps.info.id==3" class="current">
                {{slotProps.info.name}}
              </strong>
              <span v-else>{{slotProps.info.name}}</span>
            </template>
        </fruit-list>
    </div>
    <script type="text/javascript" src="../vue2/vue.js"></script>
    <script type="text/javascript">
        /*作用域插槽
         */
        Vue.component('fruit-list', {
            props: ['list'],
            template: `
            <div>
                <li :key='item.id' v-for='item in list'>
                    <slot :info='item'>{{item.name}}</slot>
                </li>
            <div>
            `
        });
        var vm = new Vue({
            el: '#app',
            data: {
                list: [{
                    id: 1,
                    name: 'apple'
                }, {
                    id: 2,
                    name: 'banana'
                }, {
                    id: 3,
                    name: 'pear'
                }, ]
            }
        })
    </script>
</body>

</html>